@import "tailwindcss";

@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out;
}

.btn-yellow {
    @apply bg-yellow-400 text-black px-4 py-2 rounded hover:bg-yellow-300 transition-colors cursor-pointer m-2;
}

.border-custom {
    @apply border border-gray-500 rounded-lg shadow-lg;
}